@charset "utf-8";
/**-----------------------------------------------------------
 * name: index.css
 * purpose: styles for the main page
 * author: david kim
 * Licensed by Cornell Data Science. 
 * https://cornelldata.science
 -----------------------------------------------------------*/

/* main style, inclusive of everything(!!) on the page. Uses grid. */

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4% 92% 4%;
  grid-template-areas: "." "main" "footer";
}

.main {
  grid-area: main;
  align-self: start;
  justify-self: center;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 63rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "intro playground" "links other";
  column-gap: 20px;
  row-gap: 20px;
}

.section {
  align-self: start;
  justify-self: center;
  width: 100%;
  height: auto;
}

.intro {
  grid-area: intro;
  font-size: 26px;
  padding: 0 30px;
}

#intro-description span {
  font-weight: 500;
}

#intro-image {
  display: block;
  background: url('../images/cypria_logo.svg') no-repeat;
  background-position: center top;
  background-size: contain;
  height: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#intro-download {
  display: block;
  background-color: rgb(253, 192, 222);
  border-radius: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  text-align: center;
}

.playground {
  grid-area: playground;
  width: 500px;
}

.playground>h1 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.06rem;
}

#code-box {
  height: 200px;
  border: 1px solid #c0c2c3;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f7f9fa;
  color: #202224;
  overflow: hidden;
}

#code-box>textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  background-color: inherit;
  color: inherit;
  padding: 0.625rem;
  font-family: "Courier";
  font-size: 110%;
}

#code-output {
  height: 100px;
  border: 1px solid #c0c2c3;
  border-radius: 5px;
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #f7f9fa;
  color: #202224;
  overflow: auto;
}

#code-output>pre {
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  border: none;
  outline: none;
  resize: none;
  background-color: inherit;
  color: inherit;
  padding: 0.625rem;
  font-size: 130%;
}

#run-button {
  float: right;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  margin-top: 10px;
  background-color: #f7f9fa;
  color: #00add8;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #00add8;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;
}

.links {
  grid-area: links;
  padding: 0 30px;
}

.links h1 {
  font-size: 24px;
}

.links a {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  line-height: 170%;
}

.other {
  grid-area: other;
  align-self: center;
  justify-self: center;
}

.other h1 {
  font-size: 24px;
  text-align: center;
}

/* Screens smaller than 750px */

@media only screen and (max-width: 750px) {
  .main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .main {
    margin-top: 40px;
    align-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 5fr 4fr 4fr;
    grid-template-areas: "intro" "playground" "links" "other";
    column-gap: unset;
    row-gap: 40px;
    height: auto;
    overflow-x: auto;
  }
  .section {
    font-size: 20px;
    width: 80vw;
    min-width: 300px;
  }
  #intro-download {
    font-size: 16px;
  }
  #code-box>textarea {
    font-size: 16px;
  }
  #code-output>pre {
    font-size: 16px;
  }
  footer {
    height: auto;
  }
}