@charset "utf-8";
/**-----------------------------------------------------------
 * name: nav.css
 * purpose: css styles for the navigation bar
 * author: david kim
 * Licensed by Cornell Data Science. 
 * https://cornelldata.science
 -----------------------------------------------------------*/

nav {
  height: 80px;
  width: 100%;
  background-color: #2a3852;
  letter-spacing: 0.1em;
  font-weight: 300;
  display: grid;
  grid-template-columns: 300px auto;
}

/* Needed to make sure links don't purple out */

nav a {
  color: inherit;
}

/* Logo on the top left corner */

#logo {
  grid-column: 1 / span 1;
  justify-self: start;
  align-self: center;
  cursor: pointer;
  height: 80px;
  line-height: 80px;
  margin-left: 40px;
}

#logo h1 {
  font-family: "Avenir";
  font-weight: 500;
  color: rgb(255, 245, 238);
  font-size: 24px;
}

/* The items at the top right corner */

#nav-items {
  grid-column: 2 / span 1;
  justify-self: end;
  align-self: center;
  cursor: pointer;
  height: 80px;
  line-height: 80px;
  margin-right: 40px;
  /* Each item is part of the subgrid */
  display: grid;
  grid-template-columns: 150px minmax(80px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr);
  column-gap: 15px;
}

.nav-toggle {
  display: none;
}

.item {
  display: block;
  justify-self: center;
  align-self: center;
  height: 100%;
}

.item h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}

.shown {
  display: block !important;
}

/* Screens smaller than 750px */

@media only screen and (max-width: 750px) {
  nav {
    overflow: hidden;
    height: 80px;
    grid-template-columns: 1fr 1fr;
  }
  #nav-items {
    display: block;
  }
  .item {
    display: none;
    position: absolute;
    background-color: #e0ba75;
    opacity: 0.9;
    height: 80px;
    width: 100%;
    right: 0;
    text-align: center;
  }
  .item>h1 {
    font-size: 24px;
    font-weight: 500;
  }
  #nav-item1 {
    top: 80px;
  }
  #nav-item2 {
    top: 160px;
  }
  #nav-item3 {
    top: 240px;
  }
  #nav-item4 {
    top: 320px;
  }
  .nav-toggle {
    display: block;
    height: 100%;
    width: 40px;
    position: relative;
  }
  .nav-toggle>svg {
    display: block;
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
  }
}